
    body {
        background: linear-gradient(135deg, #f1d7d8, #faf5f5);
        height: 100vh;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    .container {
        background: rgba(210, 131, 131, 0.3);
        backdrop-filter: blur(12px);
        border-radius: 15px;
        padding: 30px 40px;
        max-width: 600px;
        margin: auto;
        margin-top: 60px;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
        color: white;
        border: 1px solid rgba(119, 235, 137, 0.2);
    }

    .section {
        background-color: rgb(164, 244, 144);
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
    }

    button, .btn {
        background-color: transparent;
        color: rgb(251, 191, 191);
        border: 1px solid rgb(229, 245, 165);
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    button:hover, .btn:hover {
        background-color: rgb(130, 243, 157);
        color: #ead6d6;
    }
